@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;900&display=swap');

* {
	box-sizing: border-box;
}

html {
    --bg-color: #363636;
    --main-color: #f0f0f0;
    --light-color: #484848;
    --shadow-color: #101010;

    --shadow-offset: 2px;
    --shadow-blur: 8px;
    --theme-transition: 0.4s;
    --font-name: "Nunito";
    --container-margin: 10%;
} 

.light-theme {
    --bg-color: #ededed;
    --main-color: #414141; 
    --light-color: #fefefe;
    --shadow-color: #b8b8b8;
}

body {
	height: 100vh;
    margin: 0;
	background-color: var(--bg-color);
    transition: 0.4s ease;
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: var(--container-margin);
    margin-left: var(--container-margin);
}

.button {
    align-self: center;
    font-family: var(--font-name), sans-serif;
    color: var(--main-color);
    height: 40px;
    width: 100px;
    border-radius: 50vmin;
    border-style: none;
    outline: none;
    color: var(--main-color);
    background-color: var(--bg-color);
    box-shadow: calc(-1*var(--shadow-offset)) calc(-1*var(--shadow-offset)) var(--shadow-blur) var(--light-color),
                 var(--shadow-offset)  var(--shadow-offset) var(--shadow-blur) var(--shadow-color);
}

.button:hover {
    box-shadow: inset calc(-1*var(--shadow-offset)) calc(-1*var(--shadow-offset)) var(--shadow-blur) var(--light-color),
                inset  var(--shadow-offset)  var(--shadow-offset) var(--shadow-blur) var(--shadow-color);
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    align-self: center;
    font-family: var(--font-name), sans-serif;
    color: var(--main-color);
    font-size: 40px;
    font-weight: 200;
}

.display-1 {
    font-size: 64px;
}

.display-2 {
    font-size: 48px;
}

.h1, .h2, .h3, .h4, .h5, .h6, p {
    align-self: center;
    font-family: var(--font-name), sans-serif;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 500;
}

.h1 {
    font-size: 86px;
    font-weight: 700;
}

.h2 {
    font-size: 48px;
    font-weight: 700;
}

.h3 {
    font-size: 40px;
    font-weight: 600;
}

.h4 {
    font-size: 32px;
    font-weight: 600;
}

.h5 {
    font-size: 24px;
    font-weight: 500;
}

.h6 {
    font-size: 20px;
    font-weight: 500;
}